@use './variables.scss' as palette;

.header {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  margin: 5px 0;
  background-color: palette.$bg-secondary-color;
}

.header::before {
  position: absolute;
  top: -5px;
  z-index: 100;
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 5px;
  content: '';
  background-image: linear-gradient(
    to left,
    palette.$typography-accent-color,
    rgb(255 90 118)
  );
}

.header::after {
  position: absolute;
  bottom: -5px;
  z-index: 100;
  display: flex;
  align-self: end;
  min-width: 100%;
  min-height: 5px;
  content: '';
  background-image: linear-gradient(
    to right,
    palette.$typography-accent-color,
    rgb(255 90 118)
  );
}

.left-header,
.right-header {
  display: flex;
  align-items: center;
}

.left-header {
  margin-left: 50px;
}

.search-bar {
  margin-left: 12px;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-list-item {
  display: flex;
  list-style: none;
}

.login-container {
  position: relative;
  margin: 0 80px;
}

.profile {
  display: flex;
  gap: 12px;
  align-items: center;
}

.profile-info-container {
  display: flex;
  flex-direction: column;
}

.status {
  align-self: end;
  font-size: 12px;
}

.login {
  display: flex;
  gap: 4px;
  align-items: center;
}
