@use './variables' as palette;

.login-modal-background {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.login-modal-container {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: palette.$bg-secondary-color;
  width: 510px;
  height: 670px;
  padding: 150px 100px 120px;
}
