// color palette
$typography-primary-color: #eae2ea;
$typography-accent-color: #743ad5;
$typography-disabled-color: #5b5668;
$typography-error-color: #e4435f;
$bg-primary-color: #211e29;
$bg-secondary-color: #111014;
$bg-light-color: #eae2ea;
$bg-accent-color: #743ad5;

// #d53a9d
