@use '@/app/variables.scss' as palette;

.search-bar-wrapper {
  display: flex;
  align-items: center;
  padding-left: 20px;
  border: 2px solid palette.$typography-disabled-color;
  border-radius: 5px;

  &.focused {
    color: palette.$typography-primary-color;
    border-color: palette.$typography-primary-color;
  }
}

.input {
  display: block;
  width: 100%;
  height: 100%;
  color: palette.$typography-disabled-color;
  background-color: palette.$bg-primary-color;
  border: 0;

  &::placeholder {
    color: palette.$typography-disabled-color;
  }

  &:focus {
    color: palette.$typography-primary-color;
    outline: none;
  }
}

.search-icon {
  display: block;
  margin: 0 8px;
  fill: palette.$typography-disabled-color;

  &.focused {
    fill: palette.$typography-primary-color;
  }
}
