@use '@/app/variables.scss' as palette;

.full-width.slider {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 50px;
  padding: 12px 24px;
  border: 0;
}

.full-width .prev-button {
  position: relative;
  min-width: 19px;
  height: 100px;
  cursor: pointer;

  .button-right {
    position: absolute;
    top: 20px;
    left: 7px;
    width: 5px;
    height: 30px;
    background-color: palette.$bg-accent-color;
    transform: rotate(30deg);
  }

  .button-left {
    position: absolute;
    top: 43px;
    left: 7px;
    width: 5px;
    height: 30px;
    background-color: palette.$bg-accent-color;
    transform: rotate(-30deg);
  }
}

.full-width .next-button {
  position: relative;
  min-width: 19px;
  height: 100px;
  cursor: pointer;
  margin-left: auto;

  .button-right {
    position: absolute;
    top: 20px;
    left: 7px;
    width: 5px;
    height: 30px;
    background-color: palette.$bg-accent-color;
    transform: rotate(-30deg);
  }

  .button-left {
    position: absolute;
    top: 43px;
    left: 7px;
    width: 5px;
    height: 30px;
    background-color: palette.$bg-accent-color;
    transform: rotate(30deg);
  }
}

.full-width .slider-items-wrapper {
  overflow: hidden;

  .slider-items-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    column-gap: 20px;
    transition: all 2s ease-out;
  }
}

.mini.slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 0;
}

%shared-buttons-css {
  position: absolute;
  min-width: 3%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 100;
  transition: all 200ms ease-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .button-right,
  .button-left {
    display: none;
  }
}

.mini .prev-button {
  @extend %shared-buttons-css;
}

.mini .next-button {
  @extend %shared-buttons-css;
  right: 0;
}

.mini .slider-items-wrapper {
  overflow: hidden;
  z-index: 10;

  .slider-items-container {
    display: flex;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 2s ease-out;
  }
}
