@use '@/app/variables.scss' as palette;

.full-width.slider {
  display: flex;
  column-gap: 50px;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  border: 0;
}

.full-width .prev-button {
  position: relative;
  min-width: 19px;
  height: 100px;
  cursor: pointer;

  .button-right {
    position: absolute;
    top: 20px;
    left: 7px;
    width: 5px;
    height: 30px;
    background-color: palette.$bg-accent-color;
    transform: rotate(30deg);
  }

  .button-left {
    position: absolute;
    top: 43px;
    left: 7px;
    width: 5px;
    height: 30px;
    background-color: palette.$bg-accent-color;
    transform: rotate(-30deg);
  }
}

.full-width .next-button {
  position: relative;
  min-width: 19px;
  height: 100px;
  margin-left: auto;
  cursor: pointer;

  .button-right {
    position: absolute;
    top: 20px;
    left: 7px;
    width: 5px;
    height: 30px;
    background-color: palette.$bg-accent-color;
    transform: rotate(-30deg);
  }

  .button-left {
    position: absolute;
    top: 43px;
    left: 7px;
    width: 5px;
    height: 30px;
    background-color: palette.$bg-accent-color;
    transform: rotate(30deg);
  }
}

.full-width .slider-items-wrapper {
  overflow: hidden;

  .slider-items-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    column-gap: 20px;
    align-items: center;
    width: 100%;
    transition: all 2s ease-out;
  }
}

.full-width.dots-container {
  display: none;
}

.mini.slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 0;
}

%shared-buttons-css {
  position: absolute;
  z-index: 100;
  min-width: 3%;
  height: 100%;
  cursor: pointer;
  background-color: rgb(255 255 255 / 30%);
  transition: all 200ms ease-out;

  &:hover {
    background-color: rgb(255 255 255 / 50%);
  }

  .button-right,
  .button-left {
    display: none;
  }
}

.mini .prev-button {
  @extend %shared-buttons-css;
}

.mini .next-button {
  @extend %shared-buttons-css;

  right: 0;
}

.mini .slider-items-wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .slider-items-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 2s ease-out;
  }

  .slider-item {
    min-width: 100%;
    min-height: 100%;
  }
}

.mini .dots-container {
  position: absolute;
  bottom: 5%;
  left: auto;
  z-index: 200;
  display: flex;
  gap: 0.3rem;
  background-color: transparent;

  .dot {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    background-color: palette.$bg-light-color;
    border-radius: 50%;
  }

  .active {
    background-color: palette.$bg-accent-color;
  }
}
